
<div class="container">
  <% User.all.each do |user| %>
  <div class="col-md-4"> 
    <div class="list">
      <h1><a class="admin_link" href="/team/<%= user.id %>"> <%= user.username %></a> </h1>

      <h4>has created <%= user.lists.count %> to-do lists and <%= user.tasks.count %> tasks.</h4>
      <h4><%= user.username %> is a member of:</h4>

      <% user.teams.each do |team|%>
      <div class="admin_container">
        <a class="admin_link" href="/team/<%= team.id %>"<p><%= team.name %></a>
        <% completed = team.lists.all.count('complete') %>
        <% uncompleted = team.lists.all.count(:conditions => "complete == nil") %>

        <% if team.lists.all.count == 0 %>
        <h6>No active lists</h6>
        <% else %>
        <h6>(<%= completed %> of <%= uncompleted %> to-do lists complete)</h6>
        <div class="avatar-container p-<%= ((completed.to_f / team.lists.all.count)*100).round %>">
          <img src="http://www.wpclipart.com/signs_symbol/checkmarks/checkmark_2/checkmark.png" alt="" class="avatar"/>
        </div>
        <% end %>

      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<!-- has an average of % complete, avg time to completion is: time -->