<div class="container">
  <div style="height:100px;"></div>
</div>

<div class="container">
  <% User.all.each do |user| %>
  <div class="col-md-4">
    <div class="user_card">
      <h1><a class="user_link" href="/team/<%= user.id %>"> <%= user.username %></a> </h1>
      <p><h4>
        has created <%= user.lists.count %> to-do lists and <%= user.tasks.count %> tasks.
      </h4></p>
        <h4><%= user.username %> is a member of:
        <p><% user.teams.each do |team|%></p>
              <a class="user_link" href="/team/<%= team.id %>"<p><%= team.name %></p></a>
                <% completed = team.lists.all.count('complete') %>
                <% uncompleted = team.lists.all.count(:conditions => "complete == nil") %>
                  <% if team.lists.all.count == 0 %>
                    <h6>No active lists</h6>
                  <% else %>
                    <h6>(<%= completed %> of <%= uncompleted %> to-do lists complete)</h6>
                    <div class="avatar-container p-<%= ((completed.to_f / team.lists.all.count)*100).round %>">
                      <img src="https://www.playonlinux.com/images/anonymous.png" alt="" class="avatar"/>
                    </div>
                  <% end %>
            <% end %>
        </h4>
    </div>
  </div>
  <% end %>
</div>

<!-- has an average of % complete, avg time to completion is: time -->