<div class="container">
  <% if current_user %>
    <div class ="col-md-4">
      <h1><%= @team.name %></h1>
    </div>
<% end %>


<!-- TODO: update class name -->
<div class ="members">
<% @team.users.each do |name| %>
  <h4><%= name.username %></h4>
<% end %>
</div>
</div>


<div class="container">
  <% if current_user %>
      <% @team.lists.each do |list| %>
        <div class="col-md-4">
          <%= list.title %>
          <% list.tasks.each do |task| %>
            <%= task.content %>
          <%end%>
      <form method="POST" action="/team/<%= list.id %>">
        <input type="hidden" name="_method" value="DELETE"></input>
        <input type="hidden" name="team_id" value="<%= @team.id%>"</input>
        <input type="submit" value="Delete"></input>
    </form>
          </div>
      <% end %>
<% end %>


  <div class="container">
    <form method="POST" action="/team/<%= @team.id %>/new">
      <div>
        <label>Enter new list title: </label>
        <input type="text" class="form-group" name="title">
      </div>
    </form>

</div>
    



