<div class="container">
  <div class="row">

    <% if current_user %>
    <div class ="jumbotron">
      <h1><%= @team.name %></h1>
      <% completed = @team.lists.all.count('complete') %>
      <% uncompleted = @team.lists.all.count(:conditions => "complete == nil") %>
      <% if @team.lists.all.count == 0 || completed == uncompleted %>
        <h4>No active lists</h4>
      <% else %>
        <h4> <%= uncompleted - completed %> active to-do lists</h4>
        <% end %>
      <form method="POST" action="/team/<%= @team.id %>/new_list">
         <br> <label><h4>Create a new list</h4></label>
          <input type="text" class="form-group input-sm" name="title">
          <input type="hidden" name="user_id" value="<%=current_user.id%>">
      </form>
      <form method="POST" action="/team/<%= @team.id %>/new_member"><label><h4>Add new member</h4></label>
        <input type="text" class="form-group input-sm" name="username">
        <input type="hidden" name="team_id" value="<%=@team.id%>">
      </form>
      <div class="team_list">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success" color=""><strong>Team members</strong></li>
        <% @team.users.each do |name| %>
          <li class="list-group-item"><%= name.username %></li>
        <% end %>
        </li>
      </ul>
    </div>
    </div>
    <% end %>

  </div>
</div>

<div class="container">

  <% if current_user %>
  <% @team.lists.each do |list| %>
  <% unless list.complete %>
  <div class="col-md-4">
    <div class="list">
      <h3><%= list.title %>
      <% if list.tasks.all.count == 0 %>
      <br>
      <small>No tasks for this list</small>
      <% end %>
      <br>
        <small>(posted by: <%= list.user.username %>)</small>
      </h3>
  

      <ul class="team_ul">
        <% list.tasks.order(date_priority_assigned: :desc).each do |task| %>
        <div class="task_container">
            <h4>
              <%= task.content %>
              <% unless task.user == nil %>
              <br>
              <small>(added by: <%= task.user.username %>)</small>
            </h4>

            <% end %>
        
            </div>
            <form method="POST" action="/team/<%= task.id %>/check">
              <div class="checkboxes" id="task_complete">
                <% if task.complete == nil %>
                <button type="submit">
                  <span style="font-size: 1.5em"
                  class="glyphicon glyphicon-ok-sign">
                </button>
                </span>
                <% else %>
                  <span style="font-size: 1.5em; color: green;" class="glyphicon glyphicon-ok-sign highlight">
                  </span>
                <% end %>
              </div>
            </form>
            
              <form method="POST" action="/team/<%= task.id %>/priority">
                <div class="checkboxes" id="priority">
                  <% if task.priority == nil %>
                    <button type="submit">
                    <span style="font-size: 1.5em;" class="glyphicon glyphicon-exclamation-sign">
                    </button>
                    </span>
                  <% else %>
                     <span style="font-size: 1.5em; color: #FFA500;" class="glyphicon glyphicon-exclamation-sign highlight">
                    </span>
                  <% end %>
                  </div>
              </form>       
            <div id="deleted">
            <form method="POST" action="/team/<%= task.id %>/delete">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit">
                <span style="font-size: 1.5em;" class="glyphicon glyphicon-remove">
              </button>  
              </span>
            </form>
            </div>
   
          </li>
       
      </ul> 
      <% end %>
      <div id="new_task">
        <form method="POST" action="/team/<%= list.id %>/new">
          <h6><label>Enter new task: </label></h6>
          <input type="text" class="form-group" name="content">
          <input type="hidden" name="user_id" value="<%=current_user.id%>">
        </form>
      </div>

      <div id ="complete">
        <form method="POST" action="/team/<%= list.id %>/complete">
        <button type="submit">
         <span style="font-size: 5em;" class="glyphicon glyphicon-ok">
        </button>
        </span>
        </form>
      </div>

      <div id="delete">
        <form method="POST" action="/team/<%= list.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">
          <input type="hidden" name="team_id" value="<%= @team.id%>">
           <span style="font-size: 5em;" class="glyphicon glyphicon-remove">
          </button>
          </span>
        </form>
      </div>
    </div>
  </div>

  <% end %>
  <% end %>
  <% end %>

  
</div>
