<div class="container">
  <% if current_user %>
    <% Team.where(id: @user.teams).find_each do |team| %>
      <div class ="col-md-4">
        <a href="/team/<%= team.id %>"><h1><%= team.name %></h1></a>
      </div>
  <% end %>
<% end %>
</div>



<div class="container">
  <form method="post" action="/new_team">
    <div>
      <label>New team name: </label>

      <input type="text" class="form-group" name="name" value="<%=@team.name%>">
      <input type="hidden" name="user" value="<%= @user %>">
    </div>
  </form>
</div>

<% unless current_user %>
  <div class="container">
    <form method="post" action="/login">
      <div>
        <label>Enter your username: </label>
        <input type="text" class="form-group" name="username" value="<%= @user.username %>">
      </div>
      <div>
        <label>Enter your password: </label>
        <input type="password" class="form-group" name="password" value="<%= @user.password %>">
      </div>
      <div>
        <input type="submit" class="btn btn-default" name="submit">
      </div>
    </form>
  </div>
<% end %>
