


<div class="container">
  <% Team.where(id: @user.teams).find_each do |team| %>
  <div class="col-md-4">
  <a class="user_link" href="/team/<%= team.id %>">
    <div class="user_card">
      <h1> <%= team.name %> </h1>
        <% completed = team.lists.all.count('complete') %>
        <% uncompleted = team.lists.all.count(:conditions == "complete == nil") %>
        <% if team.lists.all.count == 0 %>
          <h6>No active lists</h6>
          <img style="border-radius: 50%;" src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/check-circle-green-128.png" alt="" class="avatar"/>
        <% else %>
          <h6>(<%= completed %> of <%= uncompleted %> to-do lists complete)</h6>
        <div class="avatar-container p-<%= ((completed.to_f / team.lists.all.count)*100).round %>">
          <img src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/check-circle-green-128.png" alt="" class="avatar"/>
        </div>
        <% end %>
    </div>
  </a>
  </div>
  <% end %>
  <div class="col-md-4">
    <div class="new_team" id="new_team">
    <h1>Create a team</h1>
    <h3>Team name:</h3>
      <form method="post" action="/user/<%= @user.id %>/new">
        <div align="center"><input type="text" class="form-group" name="name" value="<%=@team.name%>"></div>
        <input type="hidden" name="user" value="<%= @user %>"> 
      </form>
    </div>
  </div>
</div>